* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 12px Helvetica, Arial;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
.container {
    max-width: 768px;
    height: 100%;
    margin: auto;
}
.header {
    margin: 12px;
    position: relative;
    height: 28px;
}
.header .navigation-btn {
    position: absolute;
    cursor: pointer;
    width: 28px;
    height: 28px;
    top: 0;
    z-index: 1;
    /*background-color: black;*/
}
.header.disconnected .navigation-btn {
    display: none;
}
.header .navigation-btn.back {
    left: 0;
}
.header .navigation-btn.back .arrow-left-icon {
    height: 28px;
    width: 28px;
}
.header .navigation-btn.users {
    right: 0;
}
.header .navigation-btn.users .users-icon {
    width: 18px;
    height: 18px;
    margin-top: 5px;
}
.header .menu {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 12px;
    display: none;
}
.header .menu.show {
    display: block;
}
.header .menu.user-list {
    width: auto;
    right: 0;
    top: 40px;
    max-height: 190px;
    overflow-y: auto;
}
.header .menu.user-list ul li {
    list-style: none;
    margin: 4px 0;
}
.header .title {
    font-size: 24px;
    text-align: center;
}
.user-disconnected {
    width: 200px;
    height: 100px;
    margin: 24px auto;
    position: relative;
}

.user-connected {
    display: none;
    height: calc(100% - 52px);
    position: relative;
}
.user-connected ul {
    max-height: calc(100% - 98px);
    overflow-y: auto;
}
.user-connected ul li {
    display: block;
    margin: 0 12px;
    background: #ffffff;
    padding: 5px 10px;
    list-style: none;
}
.user-connected ul li:nth-child(odd) {
    background: #eeeeee;
}
.user-connected .message-input {
    position: absolute;
    left: 12px;
    bottom: 12px;
    right: 12px;
}

.input-wrapper p {
    margin-bottom: 8px;
    min-height: 14px;
}
.input-wrapper input {
    width: 100%;
    height: 24px;
}
.input-wrapper button {
    float: right;
    width: 96px;
    height: 24px;
    margin-top: 8px;
}